<!DOCTYPE html>
<html>
<head>
<title>素材管理</title>
#parse("sys/header.html")

<link rel="stylesheet" href="${rc.contextPath}/statics/css/fileupload.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/css/icheck.css">
<script src="${rc.contextPath}/statics/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="${rc.contextPath}/statics/plugins/plupload/moxie.min.js"></script>
<script src="${rc.contextPath}/statics/plugins/plupload/plupload.full.min.js"></script>
<script src="${rc.contextPath}/statics/plugins/plupload/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
<script src="${rc.contextPath}/statics/plugins/plupload/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
<script src="${rc.contextPath}/statics/plugins/plupload/i18n/zh_CN.js"></script>
<style type="text/css">
.el-select{
	width: 100%
}
button.close{
	padding: 10px;
}
</style>
</head>
<body>

<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="素材名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
   	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">素材名称:</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="material.name" placeholder="素材名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">素材类型:</div>
			   	<!-- <div class="btn-group" data-toggle="buttons">  
					<label class="btn btn-primary active" >  
						<input type="radio" name="options" id="option1" autocomplete="off" checked>实时  
					</label>  
					<label class="btn btn-primary">  
						<input type="radio" name="options" id="option2" autocomplete="off">模拟  
					</label>
				</div> -->
				<!-- <div class="btn-group" data-toggle="buttons">  
					
					<label class="btn btn-default">
						<input type="radio" v-model="material.type" name="type" value="10" /> 图片
					</label>
					<label class="btn btn-default">
						<input type="radio" v-model="material.type" name="type" value="20" /> 视频
					</label>
					<label class="btn btn-default">
						<input type="radio" v-model="material.type" name="type" value="30" /> 音频
					</label>
					<label class="btn btn-default">
						<input type="radio" v-model="material.type" name="type" value="40" /> 字体
					</label>
					<label class="btn btn-default">
						<input type="radio" v-model="material.type" name="type" value="50" /> 挂件
					</label>
					<label class="btn btn-default">
						<input type="radio" v-model="material.type" name="type" value="60" /> 滤镜
					</label>
				</div> -->
				<div class="col-sm-10 btn-group typearea" data-toggle="buttons">
					<!-- 类型 10:图片，20:视频，30:音频，40:字体，50:挂件，60:滤镜 -->
			        <div class="radio" @click="updateMaterialType(10)" name="type" value="10" style="cursor: default;"><ins class=""></ins><span>图片 </span></div>
			        <div class="radio" @click="updateMaterialType(20)" name="type" value="20" style="cursor: default;"><ins class=""></ins><span>视频</span></div>
			        <div class="radio" @click="updateMaterialType(30)" name="type" value="30" style="cursor: default;"><ins class=""></ins><span>音频</span></div>
			        <div class="radio" @click="updateMaterialType(40)" name="type" value="40" style="cursor: default;"><ins class=""></ins><span>字体</span></div>
			        <div class="radio" @click="updateMaterialType(50)" name="type" value="50" style="cursor: default;"><ins class=""></ins><span>挂件</span></div>
			        <div class="radio" @click="updateMaterialType(60)" name="type" value="60" style="cursor: default;"><ins class=""></ins><span>滤镜</span></div>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">作者:</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="material.maker" placeholder="作者"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">标签:</div>
			   	<div class="col-sm-10">
					<el-select v-model="tagapp.tagIds" multiple filterable="" remote placeholder="请输入标签" :remote-method="tagRemoteMethod" :loading="tagapp.loading">
						<el-option v-for="item in tagapp.tags" :key="item.value" :label="item.label" :value="item.value">
					    </el-option>
					</el-select>
			    </div>
			<!-- <div class="col-sm-5">
			    	<input type="text" class="form-control" v-model="material.tagIds" placeholder="标签"/>
			    </div> -->
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">文件:</div>
			   	<div class="wraper col-sm-10">
				<!-- <ul id="file-list">
				   		<p id="file-area">现有文件</p>
			   			<li v-for="attachment in material.attachments"  style="width: 135%;" >
							<span class="file-name">{{attachment.name}}</span>
							<span style="display: inline-block;float: right;">
								<span class="progress-text">100%</span><button style="padding:4px" :value=attachment.id @click="removeRemoteFile(attachment.id)" type="button" class="close">×</button>
							</span>
						</li>
			   		</ul> -->
					<p id="drag-area">把要上传的文件拖放到这里(请使用支持html5的浏览器)</p>
					<ul id="file-list" >
					</ul>
					<div id="attachment_list" class="btn-wraper">
					<input type="button" value="选择文件..." id="browse" />
					<input type="button" value="开始上传" id="upload-btn" />
					</div>
				</div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">定价:</div>
			   	<div class="col-sm-10">
			   		<table class="table table-striped table-bordered table-hover table-condensed">
			   			<thead>
			   				<tr><td><span class="fa fa-level-down"></span>&nbsp;<strong>等级</strong></td><td><span class="fa fa-flag"></span><strong>&nbsp;名称</strong></td>
			   				<td><strong><span class="fa fa-star-o"></span>&nbsp;积分</strong></td><td><strong><span class="fa fa-rmb"></span>&nbsp;价格</strong></td><td><span class="fa fa-underline"></span><strong>&nbsp;单位</strong></td></tr>
			   			</thead>
			   			<tbody>
			   			<tr v-for="price in material.materialPrices" >	
			   				<input type="hidden" v-model="price.gradeId" />
			   				<td>{{price.gradeDefinition.level}}</td>
			   				<td>{{price.gradeDefinition.name}}</td>
			   				<td><input type="text" v-model="price.integral"/></td>
			   				<td><input type="text" v-model="price.price"/></td>
			   				<td>
			   					<select v-model="price.unit">
			   						<option value="10">元</option>
			   						<option value="20">金币</option>
			   					</select>
							</td>
			   			</tr>
				   		 </tbody>
			   		</table>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">描述:</div>
			   	<div class="col-sm-10">
			      <textarea class="form-control" rows="3" v-model="material.description" placeholder="描述"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
</body>

<script src="${rc.contextPath}/js/material/icheck.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/js/material/material.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/js/material/fileupload.js?_${date.systemTime}"></script>
 