<!DOCTYPE html>
<html>
<head>
<title>标签管理</title> 
#parse("sys/header.html")
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="grid-btn">
				<div class="form-group col-sm-2">
					<input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="标签名称">
				</div>
				<a class="btn btn-default" @click="query">查询</a> 
				<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a> 
				<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>

		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">标签名称</div>
					<div :class="{'col-sm-10': true, 'has-warning': errors.has('标签名称') }">
						<input v-model="materialTag.tagName" 
							   type="text" 
							   class="form-control"
							   name="标签名称"
							   placeholder="标签名称"
							   v-validate="'required|max:100'"
							   :class="{'control-group': true, 'warning': errors.has('标签名称') }" />
						<span v-show="errors.has('标签名称')" class="label label-warning">{{errors.first('标签名称')}}</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">标签定义</div>
					<div class="col-sm-10">
						<textarea class="form-control"
							v-model="materialTag.tagDescription" placeholder="标签定义" rows="5"
							cols="3"
							name="标签定义"
							v-validate="'required|max:200'"
							:class="{'control-group': true, 'warning': errors.has('标签定义') }"  ></textarea>
						<span v-show="errors.has('标签定义')" class="label label-warning">{{errors.first('标签定义')}}</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">状态</div>
					<div class="col-sm-10">
						<select class="form-control" v-model="materialTag.status" placeholder="状态">
							<option value="0" selected="selected">生效</option>
							<option value="1">失效</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate"
						value="确定" /> &nbsp;&nbsp;<input type="button"
						class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
	</div>

	<script src="${rc.contextPath}/js/material/tag.js?_${date.systemTime}"></script>
</body>